extends ../layout

block content
  h1 New Blog Post
  form#newBlogPostForm(method='POST', action=`${API_URL}/api/blog-post`)
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(for='title') Title
      input.form-control(type='text', name='title', required)
    .form-group
      label(for='content') Content
      textarea.form-control(name='content', rows='5', required)
    .form-group
      label(for='author') Author
      input.form-control(type='text', name='author', required)
    button.btn.btn-primary.mt-2.d-inline-block.me-1(type='submit') Submit
    a.btn.btn-danger.mt-2.d-inline-block.me-1(href=`/blog/list`) Cancel
  script.
      const form = document.getElementById('newBlogPostForm');

      const onsubmit = async function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        const actionUrl = form.action;
        try {
          const csrfToken = document.querySelector('input[name="_csrf"]').value; // Get the CSRF token from the input field

          // Make the POST request using Axios
          const response = await axios.post(actionUrl, data, {
            headers: {
              'X-CSRF-Token': csrfToken,
              '_csrf': csrfToken, // Set the CSRF token in the header
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          });

          console.log('Response data:', response); // Moved here to ensure it logs after the response

          // Use response.status instead of response.statusCode
          if (response.status === 201) {
            window.location.href = `/blog/list`; // Redirect on success
          } else {
            alert('Failed to create the blog post.');
          }
        } catch (error) {
          console.error('Error creating blog post:', error);
          if (error.response) {
            alert(`Error: ${error.response.status} - ${error.response.data}`);
          } else if (error.request) {
            // The request was made but no response was received
            alert('No response received from the server.');
          } else {
            // Something happened in setting up the request that triggered an Error
            console.error('Error message:', error.message);
            alert('An error occurred while creating the blog post.');
          }
        }
      };

      // Assign the onsubmit function to the form
      form.onsubmit = onsubmit;

